* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    --end-color: transparent;
    background-image: linear-gradient(to bottom, #eee 60%, var(--end-color) 100%);
    transition: --end-color 2.3s;
    -webkit-transition: --end-color 2.3s;
}
.title {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 8px;
    /* border: 1px solid #ccc; */
}
.inner-title {
    overflow: hidden;
    width: 172.09px;
    /* border: 1px solid #ccc; */
    margin: 0 auto;
}
.title>div>ul>li {
    font-size: 40px;
    font-weight: bold;
    float: left;
    list-style-type: none;
}
.out-wrapper, .detail-box {
    border: 1px solid #ccc;
    background-color: #f4f9f9;
    border-radius: 23px;
    margin: 10px auto;
    margin-bottom: 80px;
    width: 75%;
    height: 550px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px;
}
.search {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    top: 6%;
    margin-left: -100px;
}
.search input {
    width: 200px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: 0 1em;
    padding-right: 2.5em;
}
.search input:focus, .search input:hover {
    outline: none;
    border-color: gray;
}
.search img {
    position: absolute;
    width: 32px;
    left: 50%;
    margin-left: 65px;
    opacity: 0.5;
}
.search img:hover {
    opacity: 1;
}
/* Scrolling Setting */
/* ::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar {
    height: 8px;
    scrollbar-width: 30px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, transparent, rgba(200, 200, 200, 0.5));
    background-clip: padding-box;
    border-radius: 20px;
    max-width: 10px;
}
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: linear-gradient(to right, transparent, rgba(200, 200, 200, 1));
} */
.weather-boxes-window {
    position: absolute;
    top: 18%;
    left: 3%;
    padding-bottom: 35px;
    width: 94%;
    overflow: hidden;
    user-select: none;
}
.weather-boxes {
    width: 1620px;
    overflow: hidden;
    height: 100%;
    padding-top: 6px;
}
#curveTop {
    position: absolute;
    margin: 0 auto;
    width: 1620px;
    height: 50px;
    left: 0;
    top: 140px;
    pointer-events: none;
    /* border: 1px solid #ccc; */
    /* background-color: rgba(136, 130, 130, 0.5); */
}
#curveBottom {
    position: absolute;
    margin: 0 auto;
    width: 1620px;
    height: 50px;
    left: 0;
    top: 190px;
    pointer-events: none;
    /* border: 1px solid #ccc; */
    /* background-color: rgba(110, 97, 97, 0.5); */
}
.weather-box {
    width: 230px;
    height: 380px;
    float: left;
    border: 4px solid white;
    border-radius: 20px;
    margin: 0 20px;
    transition: all .23s ease-out;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}
.weather-box:hover{
    box-shadow: 0px 1.23px 1.23px 2px rgb(235, 234, 234);
    transform:translateY(-12px);
    display: block;
}
.weather-info {
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 78%;
    width: 100%;
    background-color: pink;
    text-align: center;
    line-height: 2em;
    padding-top: 1em;
    color: white;
    overflow: hidden;
    /* font-size: 18px; */
}
.weather-info .tem {
    display: flex;
    height: 36%;
    align-items: center;
    justify-content: center;
}
.day-info {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 23%;
    width: 100%;
    background-color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    margin-top: -1%;
    padding: 4px;
    z-index: 999;
}
.weather-info:hover {
    background-color: deeppink;
}
.weather-info>div {
    width: 100%;
    text-align: center;
    line-height: 2em;
}
.week {
    color: #ccc;
    font-size: 16px;
    line-height: 0.5em;
}
.day {
    color: deeppink;
    font-size: 36px;
}
/* 黄历 */
.almanac-box {
    position: absolute;
    border-radius: 14px 14px 0 0;
    bottom: -100%;
    height: 0%;
    width: 100%;
    margin: auto auto;
    background-color: white;
    border: 1px solid white;
}
.almanac-box img {
    width: 44px;
    height: 44px;
}
.almanac-top {
    color: #ff7272;
    line-height: 2em;
    text-align: center;
    /* border: 1px solid #ccc; */
}
.almanac-box>div>h1 {
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}
.almanac-bottom {
    /* border: 1px solid #ccc; */
    height: 83%;
    margin-top: 5%;
}
.almanac-bottom>div {
    float: left;
    width: 50%;
    height: 100%;
    /* border: 1px solid #ccc; */
}
.almanac-bottom ul {
    display: block;
    height: 75%;
    /* border: 1px solid #ccc; */
    overflow-y: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.almanac-bottom ul::-webkit-scrollbar {
    display: none;
}
.almanac-bottom li {
    list-style-type: none;
    color: #fa744f;
    font-size: 14px;
    font-weight: bold;
    line-height: 2em;
}
.almanac-bottom li:hover {
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.32);
}
/* 底部图表 */
.weather-type ul {
    height: 50px;
    width: 40%;
    margin: 30px auto;
    display: flex;
    padding: 0 25px 0 25px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #78c4d4;
    opacity: 0.5;
    border-radius: 30px;
}
.weather-type li {
    z-index: 1;
    font-size: 24px;
    list-style: none;
    color: white;
    /* border: 1px solid red; */
    display: line-block;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
}
.slide {
    display: none;
    position: absolute;
    z-index: 0;
    height: 2em;
    background-color: white;
    border-radius: 30px;
    opacity: 0.5;
    filter: opacity(0.5);
}
.detail-box {
    background-color: rgba(255, 255, 255, .23);
    border: none;
    margin-top: -60px;
    height: 440px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 6px rgba(204, 204, 204, 0.23);
}
#charts {
    width: 80%;
    height: 68%;
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 12px rgba(204, 204, 204, 0.23);
    overflow-y: hidden;
}
#charts circle {
    cursor: pointer;
}
#charts circle:hover {
    animation: big 0.23s forwards;
}
@keyframes big {
    to {
        r: 8;
    }
}
#charts svg {
    z-index: 1;
    pointer-events: none;
}
#charts ul {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    pad: 80 100;
    height: 100%;
    align-items: center;  
}
#charts ul li{
    list-style-type: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 0px;
    color: white;
    opacity: 0;
    border: 1px solid transparent;
    border-radius: 24px;
}
/* 滚动条 */
.scroll-box {
    position: absolute; 
    bottom: 20px;
    height: 10px; 
    width: 200px; 
    border: none; 
    border-radius: 5px; 
    left: calc(50% - 100px);
    background-color: rgba(188, 188, 188, 0.5); 
}
.scroll-box {
    bottom: 20px;
    height: 10px; 
    width: 100px; 
    background-color: rgb(188, 188, 188); 
    border: none; 
    background-clip: padding-box; 
    border-radius: 5px; 
    cursor: pointer; 
    left: 45px;
}